obj/Debug/net6.0/webmnv-ef_01.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/webmnv-ef_01.dll
obj/Debug/net6.0/webmnv-ef_01.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/webmnv-ef_01.pdb
obj/Debug/net6.0/ref/webmnv-ef_01.dll
obj/Debug/net6.0/refint/webmnv-ef_01.dll
obj/Debug/net6.0/refint/webmnv-ef_01.dll
mydatabase.sqlite-shm
